
.main{
    margin: auto;
    width: 80%;
    margin-bottom: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 40px;
}
.main>div{
    width: 410.6px;
}
.bg{
    background-color: #E5E7EB;

}

.quote{
    background-color: #E5E7EB;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 15px;
}


.quote div{
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: light;
    color: #1F2037;
    word-wrap: normal;
}

.quote span{
    background-color: #E5E7EB;
    font-size: 30px;
    font-weight: bold;
    color: #1F2037;
    align-self: flex-end;
}
