
.main{
    margin: 0 0 0 0;
    display: flex;
    align-self: center;
    flex: 0.25 0.25 auto;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    width: 960px;
    gap: 20px;
}

.plants{
    width: 100%;
    object-fit: contain;
}
.main div{
    width: 220px;
    margin-top: 50px;
    flex: 0 1 0;

}
.quote{
    margin-top: 100px;
    padding-top:150px;
    padding-bottom:150px;
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: light;
    color: #1F2037;
}